@model DevExtremeMvcApp3.Models.SalesOrder
@{
    var SalesOrderLines = (List<DevExtremeMvcApp3.Models.SalesOrderLine>)ViewBag.SalesOrderLines;

    DevExtremeMvcApp3.Models.VTEntities db = new VTEntities();
}
<style>
    .list-group-item {
        padding: 5PX
    }

    p {
        margin-bottom: 1px
    }

    #DS_DH th {
        min-width: 100PX !important
    }

    .table th, .table td {
        padding: 3px;
        font-size: 14px;
        white-space: nowrap !important
    }
</style>
<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">


                <h3 class="profile-username text-center">@Model.SalesOrderName</h3>

                <p class="text-muted text-center">
                    @ViewBag.SalesTypeId
                </p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Khách hàng</b> <a class="float-right">@ViewBag.CustomerId</a>
                    </li>
                    <li class="list-group-item">
                        <b>Chi nhánh</b> <a class="float-right">@db.Branches.Where(z => z.BranchId == Model.BranchId).Select(z => z.BranchName).FirstOrDefault()</a>
                    </li>
                    <li class="list-group-item">
                        <b>Mã đơn hàng</b> <a class="float-right">@Model.CustomerRefNumber</a>
                    </li>
                    <li class="list-group-item">
                        <b>Ngày giao hàng</b> <a class="float-right">@Model.DeliveryDate.ToString("dd/MM/yyyy")</a>
                    </li>
                    <li class="list-group-item">
                        <b>Ngày đặt hàng</b> <a class="float-right">@Model.OrderDate.ToString("dd/MM/yyyy")</a>
                    </li>
                    <li class="list-group-item">
                        <b>Tổng Số tiền</b> <a class="float-right">@Model.Amount</a>
                    </li>
                    <li class="list-group-item">
                        <b>Tổng Chiết khấu</b> <a class="float-right">@Model.Discount</a>
                    </li>
                    <li class="list-group-item">
                        <b>Tổng Phí vận chuyển</b> <a class="float-right">@Model.Freight</a>
                    </li>
                    <li class="list-group-item">
                        <b>Tổng Phí phát sinh</b> <a class="float-right">@Model.SubTotal</a>
                    </li>
                    <li class="list-group-item">
                        <b>Tổng Thuế</b> <a class="float-right">@Model.Tax</a>
                    </li>

                    <li class="list-group-item">
                        <b>Ghi chú</b> <a class="float-right">@Model.Remarks</a>
                    </li>
                    <li class="list-group-item bg-danger text-white">
                        <b>Tổng giá trị</b><br /> <b class="float-right " style="font-size:20px">@Model.Total.ToString("#,###") VND</b><br />
                        @*<p style="margin-bottom:0">  <small>@DevExtremeMvcApp3.Extentions.TienTe.DocTien(Model.Total)</small></p>*@
                    </li>

                    <li class="list-group-item  bg-success text-white">
                        <b>Đã thanh toán</b> <a style="font-size:20px" class="float-right">@ViewBag.DaThanhToan VND</a>
                        
                    </li>  
                    <li class="list-group-item  bg-warning text-white">
                         <b>Còn lại</b> <a style="font-size:20px" class="float-right">@ViewBag.ConLai VND</a>
                     </li>  
                    <li class="list-group-item">
                         <b>Công nợ</b> <a style="font-size:20px" class="float-right">@ViewBag.CongNo VND</a>
                    </li>

                </ul>

                <a href="#" onclick="NhanThanhToan('@Model.SalesOrderId')" class="btn btn-primary btn-block"><b>Nhận thanh toán</b></a>
            </div>
            <!-- /.card-body -->
        </div>

    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Đơn hàng</a></li>
                    <li class="nav-item"><a class="nav-link" href="#timeline" id="LoadChart" data-toggle="tab">Thống kê</a></li>
                 </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="active tab-pane table-responsive" id="activity">
                        <table class="table" id="DS_DH">
                            <tr>
                                <th><a onclick="Create('@Model.SalesOrderId')" class="btn btn-sm text-primary btn-outline-primary">Thêm vật tư</a></th>
                                <th colspan="10">Danh sách vật tư trong đơn hàng</th>
                            </tr>
                            <tr>
                                <th>Thao tác</th>
                                <th>Vật tư</th>
                                <th>Số lượng</th>
                                <th>Giá nhập</th>
                                <th>Tổng tiền</th>
                                <th>
                                    Giảm giá
                                </th>
                                <th>
                                    Chiết khấu
                                </th>
                                <th>
                                    Giá bán
                                </th>
                                <th>Phụ phí</th>
                                <th>Thuế</th>
                                <th>Ghi chú</th>
                            </tr>
                            <tbody>
                                @foreach (var item in SalesOrderLines)
                                {
                                    var sp = db.Products.Where(z => z.ProductId == item.ProductId).Select(z => z.ProductName).FirstOrDefault();
                                    <tr>
                                        <td>
                                            <a onclick="Create('@item.SalesOrderId','@item.SalesOrderLineId')" class="btn-sm    btn-outline-info  text-info "><i class="fa fa-edit"></i></a>
                                            <a data-ID="@item.SalesOrderLineId" class="btn-sm Delete  btn-outline-danger   text-danger "><i class="fa fa-trash"></i></a>
                                        </td>
                                        <td>@sp</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Total</td>

                                        <td>@item.DiscountAmount</td>
                                        <td>@item.DiscountPercentage</td>
                                        <td>@item.Price</td>
                                        <td>@item.SubTotal</td>
                                        <td>@item.TaxAmount</td>
                                        <td>@item.Description</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="timeline">
                   
                    </div>
                    <!-- /.tab-pane -->

          
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>



<!-- The Modal -->
<div class="modal" id="myModal_ThemVatTu">
    <div class="modal-dialog" style="max-width:90%">
        <div class="modal-content">
            <div class="modal-body" id="myModal_ThemVatTu_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>
<script>
    $("#LoadChart").click(function (e) {
        e.preventDefault();
            $('#timeline').html("Đang tải dữ liệu...");
        $('#timeline').load("/SalesOrderLines/Chart?ID=@Model.SalesOrderId");

    });
    function Create(SalesOrderId, ID) {

        $('#myModal_ThemVatTu_body').html("Đang tải dữ liệu...");
        $('#myModal_ThemVatTu_body').load("/SalesOrderLines/Create?SalesOrderId=" + SalesOrderId + "&ID=" + ID);
        $('#myModal_ThemVatTu').modal("show");
    }
    function NhanThanhToan(ID) {

        $('#myModal_ThemVatTu_body').html("Đang tải dữ liệu...");
        $('#myModal_ThemVatTu_body').load("/SalesOrderLines/NhanThanhToan?ID=" + ID);
        $('#myModal_ThemVatTu').modal("show");
    }
    $(".Delete").click(function (e) {
         var r = confirm("Bạn có chắc chắn muốn xóa dữ liệu này");
        if (r == true) {
            var ID = $(this).attr("data-ID");
            $.ajax({
                type: "POST",
                url: "/SalesOrderLines/Delete",
                data: {
                    ID: ID
                },
                dataType: "json",
                success: function (response) {
                    loadGrid();

                }
            });
        }
        e.preventDefault();

    });
</script>